.signature {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 120px;
    &__item {
        &--image {
            width: 460px;
            height: 430px;
        }
    }
    &__image {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    &__item:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    &__item:nth-child(even) {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    &__describe {
        width: 50%;
        padding: 30px;
        &--heading {
            @extend .heading-2;
            width: 296px;
            padding-top: 30px;
        }
        &--title {
            @extend .heading-3;
            padding-top: 70px;
        }
        &--describe {
            @extend .paragraph-3;
            padding-top: 20px;
        }
    } 
}