.footer {
    @extend .container;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
    &__list {
        list-style-type: none;
        display: flex;
        padding-bottom: 30px;
        li:not(:last-child) {
            margin-right: 20px;
        }
    }
    &--text {
        color: $greyish;
    }
}